{% extends 'baseU.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

{{ block("header", "baseU.html.twig") }}
<div class="page-title-area ptb-100">
<div class="container">
<div class="page-title-content">
<h1>Login</h1>
<ul>
<li class="item"><a href="index.html">Home</a></li>
<li class="item"><a href="login.html"><i class='bx bx-chevrons-right'></i>Login</a></li>
</ul>
</div>
</div>
<div class="bg-image">
<img src="assets/img/page-title-area/login.jpg" alt="Demo Image">
</div>
</div>


<div class="authentication-section">
<div class="container">
<div class="main-form ptb-100">

<form method="post">
{% if error %} 
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.email }}
        </div>
    {% endif %}
<div class="content">
<h3>Welcome Back</h3>
<p>Login please if you already have an account</p>
</div>
<div class="form-group">
<div class="input-icon"><i class='bx bx-user'></i></div>

<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
</div>
<div class="form-group">
<div class="input-icon"><i class='bx bx-at'></i></div>
 <input type="password" name="password" id="inputPassword" class="form-control" required>
</div>
<div class="row align-items-center mb-30">
<div class="col-lg-6 col-sm-6 col-6">
<div class="checkbox">
<input type="checkbox" id="remember">
<label for="remember">Remember me</label>
</div>
</div>
<div class="col-lg-6 col-sm-6 col-6">
<div class="link">
<a href="{{ path('app_forgot_password_request') }}">Forget password?</a>
</div>
</div>
</div>
<input name="_csrf_token" value="{{ csrf_token('authenticate') }}" hidden>
<button type="submit" class="btn-primary">
Login
</button>
</form>
</div>
</div>





{% endblock %}
