{% extends 'baseBack.html.twig' %}

        {% block content %}
        <div class="courses-area">
            <div class="container-fluid">

                <div class="row ">
                    {%  for x in result %}
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="courses-inner res-mg-b-30">
                            <div class="courses-title">
                                <a href="#"><img src="{{asset('images/Formations/'~x.imageName)}}" alt=""></a>
                                <h2>{{  x.objet}}</h2>
                            </div>
                            <div class="courses-alaltic">
                                <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-clock"></i></span> 1 Year</span>
                                <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-heart"></i></span> 50</span>
                                <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-dollar"></i></span> 500</span>
                            </div>
                            <div class="course-des">
                                <p><span><i class="fa fa-clock"></i></span> <b>Date prevu:</b> {{ x.datePrevu|date("m/d/Y") }}</p>
                                <p><span><i class="fa fa-clock"></i></span> <b>Nombre de participants:</b> {{ x.nbParticipants }}</p>
                                <p><span><i class="fa fa-clock"></i></span> <b>Categorie:</b> {{ x.categorie }}</p>
                                <p><span><i class="fa fa-clock"></i></span> <b>Prix:</b> {{ x.coutFin }} Dt</p>
                            </div>
                            <div class="product-buttons">
                                <a href="{{ path('readmore',{id:x.id}) }}">  <button type="button" class="button-default cart-btn">Read More</button>
                                <a href="{{ path('delete',{id:x.id}) }}"> <button type="button" class="btn btn-danger widget-btn-4 btn-sm">   Delete  </button>
                                    <a href="{{ path('Modifier',{id:x.id}) }}"><button type="button" class="btn btn-default btn-sm" style="background-color: green"><i class="fa fa-check fa-pencil" aria-hidden="true"></i>  Modifier</button>

                            </div>
                        </div>
                    </div>


                    {% endfor %}
                </div>

                <div class="row mg-b-15">




                </div>
            </div>
        </div>
        {% endblock %}


