{% extends 'baseBack.html.twig' %}


        {% block content %}
        <div class="single-pro-review-area mt-t-30 mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-payment-inner-st">
                            <ul id="myTabedu1" class="tab-review-design">
                                <li class="active"><a href="#description">Courses Details</a></li>
                                <li><a href="#reviews"> Acount Information</a></li>
                                <li><a href="#INFORMATION">Social Information</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div id="dropzone1" class="pro-ad addcoursepro">

                                                        {{ form_start(form, {'attr': {'class': 'dropzone dropzone-custom needsclick addcourse','id':'demo1-upload','novalidate':'novalidate'}}) }}

                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="form-group">

                                                                    {{form_widget(form.objet, {'attr': {'class': 'form-control','placeholder':"Objet"}}) }}
                                                                    <div style="color: red; size: 15px; font-family: bold;">
                                                                    {{ form_errors(form.objet) }}
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    {{ form_widget(form.type, {'attr': {'class': 'form-control','placeholder':"Type"}}) }}
                                                                    <div style="color: #ff0000; size: 15px; font-family: bold;">
                                                                        {{ form_errors(form.type) }}
                                                                    </div>
                                                                </div>
                                                                <div class="form-group-inner">
                                                                    <div class="date-picker-inner">
                                                                    <div class="form-group data-custon-pick data-custom-mg" id="data_5">
                                                                        <label class="login2">Date Debut et date fin</label>
                                                                        <div class="input-daterange input-group" id="datepicker">

                                                                    {{ form_widget(form.dateReelle, {'attr': {'class':'form-control'}}) }}

                                                                            <span class="input-group-addon">to</span>
                                                                            {{ form_widget(form.datePrevu, {'attr': {'class':'form-control'}}) }}


                                                                        </div>
                                                                        <div style="color: red; size: 15px; font-family: bold;">
                                                                            {{ form_errors(form.dateReelle) }}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                </div>


                                                                <div class="form-group">
                                                                    {{ form_widget(form.nbParticipants, {'attr': {'class': 'form-control','placeholder':"Nombre de participants"}}) }}
                                                                </div>

                                                                <div class="form-group alert-up-pd">
                                                                    <div class="dz-message needsclick download-custom">
                                                                        <i class="fa fa-download edudropnone" aria-hidden="true"></i>
                                                                        <h2 class="edudropnone">Drop image here or click to upload.</h2>
                                                                        <p class="edudropnone"><span class="note needsclick">(This is just a demo dropzone. Selected image is <strong>not</strong> actually uploaded.)</span>
                                                                        </p>
                                                                        {{ form_widget(form.path, {'attr': {'class': '','name': 'imageico'}}) }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="form-group res-mg-t-15">
                                                                    {{  form_widget(form.nbJour, {'attr': {'class': 'form-control','placeholder':"Nombre de Jours"}}) }}
                                                                </div>
                                                                <div class="form-group">
                                                                    {{ form_widget(form.objectif, {'attr': {'placeholder':"Objectif"}}) }}
                                                                </div>
                                                                <div class="form-group">
                                                                    {{  form_widget(form.coutHj, {'attr': {'class': 'form-control','placeholder':"Prix debut"}}) }}
                                                                    <div style="color: red; size: 15px; font-family: bold;">
                                                                        {{ form_errors(form.coutHj) }}
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    {{  form_widget(form.coutFin, {'attr': {'class': 'form-control','placeholder':"Prix final"}}) }}
                                                                    <div style="color: red; size: 15px; font-family: bold;">
                                                                        {{ form_errors(form.coutFin) }}
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <select name="selectcateg" class="form-control">
                                                                        <option value="vide" selected="true" disabled="">Select Categorie</option>
                                                                        {% for x in result %}
                                                                            <option value={{ x.nom }}>{{ x.nom }}</option>
                                                                        {% endfor %}
                                                                        <option value="">Autres...}</option>
                                                                    </select>
                                                                    {% if choix==null %}
                                                                    <div style="color: red; size: 15px; font-family: bold;">
                                                                       If faut selectionner une categorie
                                                                    </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="payment-adress">
                                                                    {{  form_widget(form.Submit, {'attr': {'class': 'btn btn-primary waves-effect waves-light'}}) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                   {{ form_end(form) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-tab-list tab-pane fade" id="reviews">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="devit-card-custom">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" placeholder="Email">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" placeholder="Phone">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="password" class="form-control" placeholder="Password">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="password" class="form-control" placeholder="Confirm Password">
                                                            </div>
                                                            <a href="#" class="btn btn-primary waves-effect waves-light">Submit</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-tab-list tab-pane fade" id="INFORMATION">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="devit-card-custom">
                                                            <div class="form-group">
                                                                <input type="url" class="form-control" placeholder="Facebook URL">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="url" class="form-control" placeholder="Twitter URL">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="url" class="form-control" placeholder="Google Plus">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="url" class="form-control" placeholder="Linkedin URL">
                                                            </div>
                                                            <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
            {{ form_end(form) }}
        {% endblock %}


