


{% extends 'baseReclamation.html.twig' %}

{% block recalamationActive %} class="active" {% endblock %}

{% block content %}
    <div class="product-sales-area mg-tb-30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="sparkline8-list">
                        <div class="sparkline8-hd">
                            <div class="main-sparkline8-hd">
                                <h1>List Reclamation</h1>
                                <input id="search" type="text" placeholder="Search">
                                <button id="sort" style="border: none;color: #fff;padding: 5px 15px;font-size: 15px;background: #0070a5;border-radius: 3px;outline:none;">Tri</button>
                            </div>
                        </div>
                        <div class="sparkline8-graph">
                            <div class="static-table-list">
                                <div id="table">
                                    <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>User</th>
                                        <th>Objet</th>
                                        <th>Message</th>
                                        <th>Date</th>
                                        <th>Modifer</th>
                                        <th>Supprimer</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for r in reclamation %}
                                        <tr>
                                            <td>{{ r.idReclamation }}</td>
                                            <td>{{ r.idUser.nom }}</td>
                                            <td>{{ r.objet }}</td>
                                            <td>{{ r.idMessage.contenu }}</td>
                                            <td>{{ r.date | date }}</td>
                                            <td><a href="{{ path('modifierReclamation', {'id': r.idReclamation}) }}"><button style="border: none;color: #fff;padding: 5px 15px;font-size: 15px;background: #933EC5;border-radius: 3px;outline:none;" class="ps-setting">Modifier</button></a></td>
                                            <td><a href="{{ path('supprimerReclamation', {'id': r.idReclamation}) }}"><button style="border: none;color: #fff;padding: 5px 15px;font-size: 15px;background: #D80027;border-radius: 3px;outline:none;" class="ds-setting">Supprimer</button></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                            </div>
                            <a  href="{{ path('pdfReclamation') }}" target="_blank">Generate PDF</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br><br><br>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script >
        $(function() {
            $("#search").keyup(function () {
                $.ajax({
                    url : "{{ path('searchReaclamation') }}",
                    type: "get",
                    data : { 'search' : $(this).val() }
                }).done(function (response) {
                    var tableau = $(response).find("table");
                    $('#table').empty();
                    $('#table').append(tableau);
                })
            });

            $("#sort").click(function () {
                $.ajax({
                    url : "{{ path('triReaclamation') }}",
                    type: "get"
                }).done(function (response) {
                    var tableau = $(response).find("table");
                    $('#table').empty();
                    $('#table').append(tableau);
                })
            });
        })
    </script>
{% endblock %}
