{% extends 'base.html.twig' %}

{% block body %}
<body>

<header class="header-area">

    <div class="top-header-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-7">
                    <div class="contact-info">
                        <div class="content">
                            <i class='bx bx-phone'></i>
                            <a href="tel:+0123456987">+0123 456 987</a>
                        </div>
                        <div class="content">
                            <i class='bx bx-envelope'></i>
                            <a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#08606d6464674862697d667c266b6765"><span class="__cf_email__" data-cfemail="056d6069696a456f64706b712b666a68">[email&#160;protected]</span></a>
                        </div>
                        <div class="content">
                            <i class='bx bx-map'></i>
                            <a href="#">Mon-Fri: 8 AM – 7 PM</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5">
                    <div class="side-option">
                        <div class="item">
                            <div class="language">
                                <a href="#language" id="languageButton" class="btn-secondary">
                                    Language <i class='bx bxs-chevron-down'></i>
                                </a>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="#" class="menu-link">
                                            <img src="assets/img/flag-uk.png" alt="flag">
                                            English
                                        </a>
                                    </li>
                                    <li class="menu-item"><a href="#" class="menu-link">
                                            <img src="assets/img/flag-germany.png" alt="flag">
                                            Deutsch</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#" class="menu-link">
                                            <img src="assets/img/flag-jordan.png" alt="flag">
                                            العربية
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#" class="menu-link">
                                            <img src="assets/img/flag-china.png" alt="flag">
                                            中文
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <a href="#" class="btn-secondary">
                                Login <i class='bx bx-log-in-circle'></i>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#searchBox" id="searchButton" class="btn-search" data-effect="mfp-zoom-in">
                                <i class='bx bx-search-alt'></i>
                            </a>
                            <div id="searchBox" class="search-box mfp-with-anim mfp-hide">
                                <form class="search-form">
                                    <input class="search-input" name="search" placeholder="Search" type="text">
                                    <button class="btn-search">
                                        <i class='bx bx-search-alt'></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="main-navbar-area">
        <div class="main-responsive-nav">
            <div class="container">
                <div class="main-responsive-menu">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/img/logo1.png" alt="logo">
                        </a>
                    </div>
                    <div class="cart responsive">
                        <a href="cart.html" class="cart-btn"><i class='bx bx-cart'></i>
                            <span class="badge"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/img/logo1.png" alt="Logo">
                    </a>
                    <div class="collapse navbar-collapse mean-menu">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link toggle">Home<i class='bx bxs-chevron-down'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="index.html" class="nav-link">Home Demo - 1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index-2.html" class="nav-link">Home Demo - 2</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index-3.html" class="nav-link">Home Demo - 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link toggle active">Pages<i class='bx bxs-chevron-down'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="team.html" class="nav-link">Team</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="testimonials.html" class="nav-link">Testimonials</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="booking.html" class="nav-link">Booking</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="cart.html" class="nav-link active">Cart</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="faq.html" class="nav-link">FAQ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="error-404.html" class="nav-link">404 Error</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="coming-soon.html" class="nav-link">Coming Soon</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="login.html" class="nav-link">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="register.html" class="nav-link">Register</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="terms-of-service.html" class="nav-link">Terms of Service</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="forgot-password.html" class="nav-link">Forgot Password</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link toggle">Destinations<i class='bx bxs-chevron-down'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="destinations.html" class="nav-link">Destinations</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="destination-details.html" class="nav-link">Destinations Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item"><a href="#" class="nav-link toggle">Tours<i class='bx bxs-chevron-down'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="tours.html" class="nav-link">Tours</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="special-offers.html" class="nav-link">Trip Offers</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="about-us.html" class="nav-link">About</a>
                            </li>
                            <li class="nav-item"><a href="#" class="nav-link toggle">Blog<i class='bx bxs-chevron-down'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="blog-style-1.html" class="nav-link">Blog Style One</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="blog-style-2.html" class="nav-link">Blog Style Two</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="blog-style-3.html" class="nav-link">Blog Style Three</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="blog-details.html" class="nav-link">Blog Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="contact.html" class="nav-link">Contact</a>
                            </li>
                        </ul>
                        <div class="cart">
                            <a href="cart.html" class="cart-btn"><i class='bx bx-cart'></i>
                                <span class="badge">{{ affichagepanier|length }}</span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

</header>


<div class="page-title-area ptb-100">
    <div class="container">
        <div class="page-title-content">
            <h1>Cart</h1>
            <ul>
                <li class="item"><a href="index.html">Home</a></li>
                <li class="item"><a href="cart.html"><i class='bx bx-chevrons-right'></i>Cart</a></li>
            </ul>
        </div>
    </div>
    <div class="bg-image">
        <img src="assets/img/page-title-area/cart.jpg" alt="Demo Image">
    </div>
</div>


<section id="cart" class="cart-section pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-table-container">
                    <table class="table table-cart">
                        <thead>
                        <tr>
                            <th class="product-col">Formation</th>
                            <th class="price-col">Type</th>
                            <th>prix</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for x in affichagepanier %}
                        <tr class="product-row">
                            <td class="product-col">
                                <figure class="product-image-container">
                                    <a href="#" class="product-image">
                                        <img src="{{ asset('/img/cart1.jpg')}}" alt="product">
                                    </a>
                                </figure>
                                <h3 class="product-title">
                                    <a href="#">{{ x.objet }}</a>
                                </h3>
                            </td>
                            <td>{{ x.type }}</td>

                            <td>{{ x.prix }}TND</td>
                        </tr>
                        <tr class="product-action-row">
                            <td colspan="4" class="clearfix">
                                <div class="float-left">
                                    <a href="#" class="btn-move">Move to Wishlist</a>
                                </div>
                                <div class="float-right">

                                    <a href="{{ path('supprimercommande',{id:x.id}) }}" class="btn-remove"><i class='bx bx-x'></i></a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="4" class="clearfix">
                                <div class="float-left">
                                    <a href="{{ path('formationfront') }}" class="btn btn-outline-secondary">Continue Shopping</a>
                                </div>
                                <div class="float-right">
                                    <a href="{{ path('viderpanier') }}" class="btn btn-outline-secondary btn-clear-cart">Clear Shopping Cart</a>
                                    <a href="#" class="btn btn-outline-secondary btn-update-cart">Update Shopping Cart</a>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart-summary">
                    <h3>Summary</h3>
                    <table class="table table-totals">
                        <tbody>
                        <tr>
                            <td>Subtotal</td>
                            {% if panier.prixTotal is not defined %}
                                <td>0TND</td>
                            {% else %}
                                <td>{{ panier.prixTotal}}TND</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Tax</td>
                            <td>0.00TND</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td>Order Total</td>
                            {% if panier.prixTotal is not defined %}
                            <td>0TND</td>
                            {% else %}
                            <td>{{ panier.prixTotal}}TND</td>
                            {% endif %}
                        </tr>
                        </tfoot>
                    </table>
                    <div class="checkout-methods">
                        <a href="#" class="btn btn-block btn-sm btn-primary">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="footer-area">
    <div class="container">
        <div class="footer-top pt-100 pb-70">
            <div class="row">
                <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                    <div class="footer-widget">
                        <div class="navbar-brand">
                            <a href="index.html">
                                <img src="assets/img/logo2.png" alt="Logo" />
                            </a>
                        </div>
                        <p>You can dream, create, design, and build the most wonderful place.</p>
                        <div class="contact-info">
                            <div class="content">
                                <a href="tel:+0123456987"><i class='bx bx-phone'></i>+0123 456 987</a>
                            </div>
                            <div class="content">
                                <a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#345c5158585b745e55415a401a575b59"><i class='bx bx-envelope'></i><span class="__cf_email__" data-cfemail="721a171e1e1d321813071c065c111d1f">[email&#160;protected]</span></a>
                            </div>
                            <div class="content">
                                <a href="#"><i class='bx bx-map'></i>Mon-Fri: 8 AM – 7 PM</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h5>Latest News</h5>
                        <ul class="footer-news">
                            <li class="content">
                                <a href="blog-details.html">Surrounded by the peaceful waters of Lake Victoria.</a>
                                <span>October 05, 2020</span>
                                <hr>
                            </li>
                            <li class="content">
                                <a href="blog-details.html">Morning came very early today. The alarm went off at 4 am</a>
                                <span>October 05, 2020</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-5 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h5>Quick Links</h5>
                        <ul class="footer-links">
                            <li>
                                <a href="about-us.html">About Us</a>
                            </li>
                            <li>
                                <a href="destinations.html">Destinations</a>
                            </li>
                            <li>
                                <a href="blog-style-1.html">Latest Blog</a>
                            </li>
                            <li>
                                <a href="team.html">Our Team</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h5>Instagram Post</h5>
                        <ul class="instagram-post">
                            <li>
                                <img src="assets/img/instagram1.jpg" alt="Demo Image">
                                <i class='bx bxl-instagram'></i>
                            </li>
                            <li>
                                <img src="assets/img/instagram2.jpg" alt="Demo Image">
                                <i class='bx bxl-instagram'></i>
                            </li>
                            <li>
                                <img src="assets/img/instagram3.jpg" alt="Demo Image">
                                <i class='bx bxl-instagram'></i>
                            </li>
                            <li>
                                <img src="assets/img/instagram4.jpg" alt="Demo Image">
                                <i class='bx bxl-instagram'></i>
                            </li>
                            <li>
                                <img src="assets/img/instagram5.jpg" alt="Demo Image">
                                <i class='bx bxl-instagram'></i>
                            </li>
                            <li>
                                <img src="assets/img/instagram6.jpg" alt="Demo Image">
                                <i class='bx bxl-instagram'></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="copy-right-area">
            <div class="container">
                <div class="copy-right-content">
                    <p>
                        Copyright @2020 Jaunt. Designed By
                        <a href="https://hibootstrap.com/" target="_blank">
                            HiBootstrap.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
{% endblock %}
