{% extends 'baseU.html.twig' %}





{% block body %}

{{ block("header", "baseU.html.twig") }}


<div class="page-title-area ptb-100">
<div class="container">
<div class="page-title-content">
<h1>Register</h1>
<ul>
<li class="item"><a href="index.html">Home</a></li>
<li class="item"><a href="register.html"><i class='bx bx-chevrons-right'></i>Register</a></li>
</ul>
</div>
</div>
<div class="bg-image">
<img src="assets/img/page-title-area/register.jpg" alt="Demo Image">
</div>
</div>


<div class="authentication-section">
<div class="container">
<div class="main-form ptb-100">

<div class="content">
{% if message is not empty %}
    <div class="alert alert-success" >{{ message }}</div>
{% endif %}
</div>


{{ form_start(form, {'attr': {'id': '#authForm','novalidate': 'novalidate'}}) }}
<div class="content">
<h3>Create Account</h3>
 <p>Register please if you don't have an account</p>
</div>




<div class="form-group">

<div class="input-icon"><i class='bx bx-user'></i></div>
{{form_widget(form.nom, {'attr': {'class': 'form-control','placeholder':"First Name"}}) }}
</div>

<div class="content">
{% if form_errors(form.nom) is not empty %}
    <div class="alert alert-danger" >{{ form_errors(form.nom) }}</div>
{% endif %}
</div>

<div class="form-group">
<div class="input-icon"><i class='bx bx-user'></i></div>
{{form_widget(form.prenom, {'attr': {'class': 'form-control','placeholder':"Last Name"}}) }}
</div>

<div class="content">
{% if form_errors(form.prenom) is not empty %}
    <div class="alert alert-danger" >{{ form_errors(form.prenom) }}</div>
{% endif %}
</div>

<div class="form-group">
<div class="input-icon"><i class='bx bx-calendar'></i></div>
{{form_widget(form.datenaissance, {'attr': {'class': 'form-control','placeholder':"Birthday Date"}}) }}
</div>

<div class="content">
{% if form_errors(form.datenaissance) is not empty %}
    <div class="alert alert-danger" >{{ form_errors(form.datenaissance) }}</div>
{% endif %}
</div>

<div class="form-group">
<div class="input-icon"><i class='bx bx-note'></i></div>
{{form_widget(form.cin, {'attr': {'class': 'form-control','placeholder':"CIN"}}) }}
</div>

<div class="content">
{% if form_errors(form.cin) is not empty %}
    <div class="alert alert-danger" >{{ form_errors(form.cin) }}</div>
{% endif %}
</div>

<div class="form-group">
<div class="input-icon"><i class='bx bx-mail-send'></i></div>
{{form_widget(form.email, {'attr': {'class': 'form-control','placeholder':"Email"}}) }}
</div>


<div class="content">
{% if form_errors(form.email) is not empty %}
    <div class="alert alert-danger" >{{ form_errors(form.email) }}</div>
{% endif %}
</div>


<div class="form-group">
<div class="input-icon"><i class='bx bx-log-in'></i></div>
{{form_widget(form.login, {'attr': {'class': 'form-control','placeholder':"UserName"}}) }}
</div>

<div class="content">
{% if form_errors(form.login) is not empty %}
    <div class="alert alert-danger" >{{ form_errors(form.login) }}</div>
{% endif %}
</div>

<div class="form-group">
<div class="input-icon"><i class='bx bx-show'></i></div>
{{form_widget(form.pwd, {'attr': {'class': 'form-control','placeholder':"Password"}}) }}
</div>

<div class="content">
{% if form_errors(form.pwd) is not empty %}
    <div class="alert alert-danger" >{{ form_errors(form.pwd) }}</div>
{% endif %}
</div>



<div class="form-group">
<div class="input-icon"><i class='bx bx-phone'></i></div>
{{form_widget(form.num, {'attr': {'class': 'form-control','placeholder':"Numero"}}) }}
</div>

<div class="content">
{% if form_errors(form.num) is not empty %}
    <div class="alert alert-danger" >{{ form_errors(form.num) }}</div>
{% endif %}
</div>


<div class="form-group">
<div class="input-icon"><i class='bx bx-book'></i></div>
{{form_widget(form.niveauetude, {'attr': {'class': 'form-control','placeholder':"Level"}}) }}
</div>

<div class="form-group">
<div class="input-icon"><i class='bx bx-area'></i></div>
{{form_widget(form.interessepar, {'attr': {'class': 'form-control','placeholder':"About"}}) }}
</div>
<div class="content">
{% if form_errors(form.interessepar) is not empty %}
    <div class="alert alert-danger" >{{ form_errors(form.interessepar) }}</div>
{% endif %}
</div>

<div class="form-group">
<div class="input-icon"><i class='bx bxs-check-shield'></i></div>
{{form_widget(form.captcha, {'attr': {'class': 'form-control','placeholder':"Captcha"}}) }}
</div>

<div class="content">
{% if form_errors(form.captcha) is not empty %}
    <div class="alert alert-danger" >{{ form_errors(form.captcha) }}</div>
{% endif %}
</div>

<div class="row align-items-start mb-30">
<div class="col-lg-12">
<div class="checkbox">
<input type="checkbox" id="agreement">

</div>
</div>
</div>

{{form_widget(form.Ajouter, {'attr': {'class': 'btn-primary','placeholder':"Ajouter"}}) }}
 {{ form_end(form) }}




</div>
</div>
</div>


<footer class="footer-area">
<div class="container">
<div class="footer-top pt-100 pb-70">
<div class="row">
<div class="col-lg-3 col-md-5 col-sm-6 col-12">
<div class="footer-widget">
<div class="navbar-brand">
<a href="index.html">
<img src="assets/img/logo2.png" alt="Logo" />
</a>
</div>
<p>You can dream, create, design, and build the most wonderful place.</p>
<div class="contact-info">
<div class="content">
<a href="tel:+0123456987"><i class='bx bx-phone'></i>+0123 456 987</a>
</div>
<div class="content">
<a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#69010c0505062903081c071d470a0604"><i class='bx bx-envelope'></i><span class="__cf_email__" data-cfemail="335b565f5f5c735952465d471d505c5e">[email&#160;protected]</span></a>
</div>
<div class="content">
<a href="#"><i class='bx bx-map'></i>Mon-Fri: 8 AM – 7 PM</a>
</div>
</div>
</div>
</div>
<div class="col-lg-3 col-md-5 col-sm-6 col-12">
<div class="footer-widget">
<h5>Latest News</h5>
<ul class="footer-news">
<li class="content">
<a href="blog-details.html">Surrounded by the peaceful waters of Lake Victoria.</a>
<span>October 05, 2020</span>
<hr>
</li>
<li class="content">
<a href="blog-details.html">Morning came very early today. The alarm went off at 4 am</a>
<span>October 05, 2020</span>
 </li>
</ul>
</div>
</div>
<div class="col-lg-2 col-md-5 col-sm-6 col-12">
<div class="footer-widget">
<h5>Quick Links</h5>
<ul class="footer-links">
<li>
<a href="about-us.html">About Us</a>
</li>
<li>
<a href="destinations.html">Destinations</a>
</li>
<li>
<a href="blog-style-1.html">Latest Blog</a>
</li>
<li>
<a href="team.html">Our Team</a>
</li>
<li>
<a href="contact.html">Contact Us</a>
</li>
</ul>
</div>
</div>
<div class="col-lg-4 col-md-5 col-sm-6 col-12">
<div class="footer-widget">
<h5>Instagram Post</h5>
<ul class="instagram-post">
<li>
<img src="assets/img/instagram1.jpg" alt="Demo Image">
<i class='bx bxl-instagram'></i>
</li>
<li>
<img src="assets/img/instagram2.jpg" alt="Demo Image">
<i class='bx bxl-instagram'></i>
</li>
<li>
<img src="assets/img/instagram3.jpg" alt="Demo Image">
<i class='bx bxl-instagram'></i>
</li>
<li>
<img src="assets/img/instagram4.jpg" alt="Demo Image">
<i class='bx bxl-instagram'></i>
</li>
<li>
<img src="assets/img/instagram5.jpg" alt="Demo Image">
<i class='bx bxl-instagram'></i>
</li>
<li>
<img src="assets/img/instagram6.jpg" alt="Demo Image">
<i class='bx bxl-instagram'></i>
</li>
</ul>
</div>
</div>
</div>
</div>
<hr>
<div class="copy-right-area">
<div class="container">
<div class="copy-right-content">
<p>
Copyright @2020 Jaunt. Designed By
<a href="https://hibootstrap.com/" target="_blank">
HiBootstrap.com
</a>
</p>
</div>
</div>
</div>
</div>
</footer>




{% endblock %}