<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Author: HiBootstrap, Category: Tourism, Multipurpose, HTML, SASS, Bootstrap" />

        <title>{% block title %} E-Learning{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{  asset('css/bootstrap.min.css')}}" />

        <link rel="stylesheet" href="{{  asset('css/fontawesome.css')}}" />

        <link rel="stylesheet" href="{{  asset('css/boxicons.min.css')}}">

        <link rel="stylesheet" href="{{  asset('css/animate.min.css')}}" />

        <link rel="stylesheet" href="{{  asset('css/bootstrap-datepicker.min.css')}}">

        <link rel="stylesheet" href="{{  asset('css/nice-select.css')}}">

        <link rel="stylesheet" href="{{  asset('css/magnific-popup.min.css')}}" />

        <link rel="stylesheet" href="{{  asset('css/owl.carousel.min.css')}}" />

        <link rel="stylesheet" href="{{  asset('css/meanmenu.min.css')}}" />

        <link rel="stylesheet" href="{{  asset('css/style.css')}}" />

        <link rel="stylesheet" href="{{  asset('css/responsive.css')}}" />

        <link rel="icon" href="{{  asset('img/favicon.png" type="image/png')}}" />
        {% endblock %}




    </head>
    <body>



            <div id="loading">
                <div class="loader"></div>
            </div>


            <header class="header-area">

                <div class="top-header-area">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-6 col-lg-7">
                                <div class="contact-info">
                                    <div class="content">
                                        <i class='bx bx-phone'></i>
                                        <a href="tel:+0123456987">+0123 456 987</a>
                                    </div>
                                    <div class="content">
                                        <i class='bx bx-envelope'></i>
                                        <a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#3e565b5252517e545f4b504a105d5153"><span class="__cf_email__" data-cfemail="cba3aea7a7a48ba1aabea5bfe5a8a4a6">[email&#160;protected]</span></a>
                                    </div>
                                    <div class="content">
                                        <i class='bx bx-map'></i>
                                        <a href="#">Mon-Fri: 8 AM – 7 PM</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-5">
                                <div class="side-option">
                                    <div class="item">
                                        <div class="language">
                                            <a href="#language" id="languageButton" class="btn-secondary">
                                                Language <i class='bx bxs-chevron-down'></i>
                                            </a>
                                            <ul class="menu">
                                                <li class="menu-item">
                                                    <a href="#" class="menu-link">
                                                        <img src="{{asset('img/flag-uk.png')}} " alt="flag">
                                                        English
                                                    </a>
                                                </li>
                                                <li class="menu-item"><a href="#" class="menu-link">
                                                        <img src="assets/img/flag-germany.png" alt="flag">
                                                        Deutsch</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="#" class="menu-link">
                                                        <img src="assets/img/flag-jordan.png" alt="flag">
                                                        العربية
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="#" class="menu-link">
                                                        <img src="assets/img/flag-china.png" alt="flag">
                                                        中文
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <a href="#" class="btn-secondary">
                                            Login <i class='bx bx-log-in-circle'></i>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a href="#searchBox" id="searchButton" class="btn-search" data-effect="mfp-zoom-in">
                                            <i class='bx bx-search-alt'></i>
                                        </a>
                                        <div id="searchBox" class="search-box mfp-with-anim mfp-hide">
                                            <form class="search-form">
                                                <input class="search-input" name="search" placeholder="Search" type="text">
                                                <button class="btn-search">
                                                    <i class='bx bx-search-alt'></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="main-navbar-area">
                    <div class="main-responsive-nav">
                        <div class="container">
                            <div class="main-responsive-menu">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="assets/img/logo1.png" alt="logo">
                                    </a>
                                </div>
                                <div class="cart responsive">
                                    <a href="cart.html" class="cart-btn"><i class='bx bx-cart'></i>
                                        <span class="badge">0</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-nav">
                        <div class="container">
                            <nav class="navbar navbar-expand-md navbar-light">
                                <a class="navbar-brand" href="index.html">
                                    <img src="assets/img/logo1.png" alt="Logo">
                                </a>
                                <div class="collapse navbar-collapse mean-menu">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link active toggle">Home<i class='bx bxs-chevron-down'></i></a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="index.html" class="nav-link">Home Demo - 1</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="index-2.html" class="nav-link">Home Demo - 2</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="index-3.html" class="nav-link active">Home Demo - 3</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link toggle">Pages<i class='bx bxs-chevron-down'></i></a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="team.html" class="nav-link">Team</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="testimonials.html" class="nav-link">Testimonials</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="booking.html" class="nav-link">Booking</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="cart.html" class="nav-link">Cart</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="faq.html" class="nav-link">FAQ</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="error-404.html" class="nav-link">404 Error</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="coming-soon.html" class="nav-link">Coming Soon</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="login.html" class="nav-link">Login</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="register.html" class="nav-link">Register</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="terms-of-service.html" class="nav-link">Terms of Service</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="forgot-password.html" class="nav-link">Forgot Password</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link toggle">Destinations<i class='bx bxs-chevron-down'></i></a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="destinations.html" class="nav-link">Destinations</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="destination-details.html" class="nav-link">Destinations Details</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item"><a href="#" class="nav-link toggle">Tours<i class='bx bxs-chevron-down'></i></a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="tours.html" class="nav-link">Tours</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="special-offers.html" class="nav-link">Trip Offers</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="about-us.html" class="nav-link">About</a>
                                        </li>
                                        <li class="nav-item"><a href="#" class="nav-link toggle">Blog<i class='bx bxs-chevron-down'></i></a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="blog-style-1.html" class="nav-link">Blog Style One</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="blog-style-2.html" class="nav-link">Blog Style Two</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="blog-style-3.html" class="nav-link">Blog Style Three</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="blog-details.html" class="nav-link">Blog Details</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="contact.html" class="nav-link">Contact</a>
                                        </li>
                                    </ul>
                                    <div class="cart">
                                        <a href="cart.html" class="cart-btn"><i class='bx bx-cart'></i>
                                            <span class="badge">0</span>
                                        </a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>

            </header>
            {% block content %}
                {% endblock %}





            <section id="destination" class="destination-section pt-100 pb-70 bg-light">
                <div class="container">
                    <div class="section-title">
                        <h2>Destinations</h2>
                        <p>Travel has helped us to understand the meaning of life and it has helped us become better people. Each time we travel, we see the world with new eyes.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-8 m-auto">
                            <div class="filter-group">

                                <ul id="control" class="list-control">
                                    <li class="active" data-filter="all">All</li>
                                    <li data-filter="1">Budget-Friendly</li>
                                    <li data-filter="2">Royal</li>
                                    <li data-filter="3">Recommended</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row filtr-container">
                        <div class="col-lg-4 col-md-6 filtr-item" data-category="1" data-sort="value">
                            <div class="item-single mb-30">
                                <div class="image">
                                    <img src="assets/img/destination1.jpg" alt="Demo Image">
                                </div>
                                <div class="content">
                                    <span class="location"><i class='bx bx-map'></i>Hvar, Croatia</span>
                                    <h3>
                                        <a href="destination-details.html">Piazza Castello</a>
                                    </h3>
                                    <div class="review">
                                        <i class='bx bx-smile'></i>
                                        <span>8.5</span>
                                        <span>Superb</span>
                                    </div>
                                    <p>
                                        A wonderful little cottage right on the seashore - perfect for exploring.
                                    </p>
                                    <hr>
                                    <ul class="list">
                                        <li><i class='bx bx-time'></i>3 Days</li>
                                        <li><i class='bx bx-group'></i>160+</li>
                                        <li>$500</li>
                                    </ul>
                                </div>
                                <div class="spacer"></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 filtr-item" data-category="2, 1" data-sort="value">
                            <div class="item-single mb-30">
                                <div class="image">
                                    <img src="assets/img/destination2.jpg" alt="Demo Image">
                                </div>
                                <div class="content">
                                    <span class="location"><i class='bx bx-map'></i>Santorini, Oia ,Greece</span>
                                    <h3>
                                        <a href="destination-details.html">Santorini, Oia ,Greece</a>
                                    </h3>
                                    <div class="review">
                                        <i class='bx bx-smile'></i>
                                        <span>9</span>
                                        <span>Superb</span>
                                    </div>
                                    <p>
                                        A wonderful little cottage right on the seashore - perfect for exploring.
                                    </p>
                                    <hr>
                                    <ul class="list">
                                        <li><i class='bx bx-time'></i>7 Days</li>
                                        <li><i class='bx bx-group'></i>65+</li>
                                        <li>$2000</li>
                                    </ul>
                                </div>
                                <div class="spacer"></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 filtr-item" data-category="2" data-sort="value">
                            <div class="item-single mb-30">
                                <div class="image">
                                    <img src="assets/img/destination3.jpg" alt="Demo Image">
                                </div>
                                <div class="content">
                                    <span class="location"><i class='bx bx-map'></i>Rialto Bridge, Italy</span>
                                    <h3>
                                        <a href="destination-details.html">Rialto Bridge</a>
                                    </h3>
                                    <div class="review">
                                        <i class='bx bx-smile'></i>
                                        <span>7.5</span>
                                        <span>Superb</span>
                                    </div>
                                    <p>
                                        A wonderful little cottage right on the seashore - perfect for exploring.
                                    </p>
                                    <hr>
                                    <ul class="list">
                                        <li><i class='bx bx-time'></i>5 Days</li>
                                        <li><i class='bx bx-group'></i>96+</li>
                                        <li>$2100</li>
                                    </ul>
                                </div>
                                <div class="spacer"></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 filtr-item" data-category="2, 3" data-sort="value">
                            <div class="item-single mb-30">
                                <div class="image">
                                    <img src="assets/img/destination4.jpg" alt="Demo Image">
                                </div>
                                <div class="content">
                                    <span class="location"><i class='bx bx-map'></i>Santorini, Oia ,Greece</span>
                                    <h3>
                                        <a href="destination-details.html">Santorini, Oia ,Greece</a>
                                    </h3>
                                    <div class="review">
                                        <i class='bx bx-smile'></i>
                                        <span>9</span>
                                        <span>Superb</span>
                                    </div>
                                    <p>
                                        A wonderful little cottage right on the seashore - perfect for exploring.
                                    </p>
                                    <hr>
                                    <ul class="list">
                                        <li><i class='bx bx-time'></i>7 Days</li>
                                        <li><i class='bx bx-group'></i>65+</li>
                                        <li>$2000</li>
                                    </ul>
                                </div>
                                <div class="spacer"></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 filtr-item" data-category="1, 3" data-sort="value">
                            <div class="item-single mb-30">
                                <div class="image">
                                    <img src="assets/img/destination5.jpg" alt="Demo Image">
                                </div>
                                <div class="content">
                                    <span class="location"><i class='bx bx-map'></i>Oia, Greece</span>
                                    <h3>
                                        <a href="destination-details.html">Greek Cottage, Greece</a>
                                    </h3>
                                    <div class="review">
                                        <i class='bx bx-smile'></i>
                                        <span>8.5</span>
                                        <span>Superb</span>
                                    </div>
                                    <p>
                                        A wonderful little cottage right on the seashore - perfect for exploring.
                                    </p>
                                    <hr>
                                    <ul class="list">
                                        <li><i class='bx bx-time'></i>3 Days</li>
                                        <li><i class='bx bx-group'></i>160+</li>
                                        <li>$1500</li>
                                    </ul>
                                </div>
                                <div class="spacer"></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 filtr-item" data-category="3, 1" data-sort="value">
                            <div class="item-single mb-30">
                                <div class="image">
                                    <img src="assets/img/destination6.jpg" alt="Demo Image">
                                </div>
                                <div class="content">
                                    <span class="location"><i class='bx bx-map'></i>Venice, Italy</span>
                                    <h3>
                                        <a href="destination-details.html">Metropolitan City</a>
                                    </h3>
                                    <div class="review">
                                        <i class='bx bx-smile'></i>
                                        <span>8.5</span>
                                        <span>Superb</span>
                                    </div>
                                    <p>
                                        A wonderful little cottage right on the seashore - perfect for exploring.
                                    </p>
                                    <hr>
                                    <ul class="list">
                                        <li><i class='bx bx-time'></i>3 Days</li>
                                        <li><i class='bx bx-group'></i>160+</li>
                                        <li>$1500</li>
                                    </ul>
                                </div>
                                <div class="spacer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section id="about" class="about-section about-style-three ptb-100">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-10 m-auto">
                            <div class="about-content">
                                <div class="row">
                                    <div class="col-12">
                                        <h2>
                                            About Us
                                        </h2>
                                        <h6>
                                            Top Tour Operators and Travel Agency. We offering in total 793 tours and holidays through-out the world. Combined we have received 1532 customer reviews.
                                        </h6>
                                        <p>
                                            Travel has helped us to understand the meaning of life and it has helped us become better people. Each time we travel, we see the world with new eyes.Travel has helped us to understand the meaning of life and it has helped us become better people. Each time we travel, we see the world with new eyes.Travel has helped us to understand the meaning of life and it has helped us.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-10 m-auto">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6">
                                            <div class="content-list">
                                                <i class='bx bx-check-shield'></i>
                                                <h6>Safety Travel System</h6>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="content-list">
                                                <i class='bx bx-donate-heart'></i>
                                                <h6>Budget-Friendly Tour</h6>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="content-list">
                                                <i class='bx bx-support'></i>
                                                <h6>24/7 Customer Support</h6>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="content-list">
                                                <i class='bx bx-time'></i>
                                                <h6>Expert Trip Planning</h6>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="content-list">
                                                <i class='bx bx-station'></i>
                                                <h6>Fast Communication</h6>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="content-list">
                                                <i class='bx bx-like'></i>
                                                <h6>Right Solution & Guide</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="about-btn">
                                    <a href="contact.html" class="btn-primary">Contact Us</a>
                                    <a href="about-us.html" class="btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shape shape-1"><img src="assets/img/shape1.png" alt="Background Shape"></div>
                <div class="shape shape-2"><img src="assets/img/shape2.png" alt="Background Shape"></div>
                <div class="shape shape-3"><img src="assets/img/shape3.png" alt="Background Shape"></div>
                <div class="shape shape-4"><img src="assets/img/shape4.png" alt="Background Shape"></div>
            </section>


            <section id="offers" class="offers-section pt-100 pb-70 bg-light">
                <div class="container">
                    <div class="section-title">
                        <h2>Special Offers & Discount</h2>
                        <p>Travel has helped us to understand the meaning of life and it has helped us become better people. Each time we travel, we see the world with new eyes.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="item-single mb-30">
                                <div class="image">
                                    <img src="assets/img/offer1.jpg" alt="Demo Image">
                                </div>
                                <div class="content">
                                    <div class="review">
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <span>39 Review</span>
                                    </div>
                                    <div class="title">
                                        <h3>
                                            <a href="tours.html">Asia Tour</a>
                                        </h3>
                                        <span>$2000</span>
                                    </div>
                                    <ul class="list">
                                        <li><i class='bx bx-time'></i>7 Days</li>
                                        <li><i class='bx bx-group'></i>60+</li>
                                        <li>$1500</li>
                                    </ul>
                                </div>
                                <div class="discount">
                                    <span>Discount</span>
                                    <span>30%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="item-single mb-30">
                                <div class="image">
                                    <img src="assets/img/offer2.jpg" alt="Demo Image">
                                </div>
                                <div class="content">
                                    <div class="review">
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <span>19 Review</span>
                                    </div>
                                    <div class="title">
                                        <h3>
                                            <a href="tours.html">Russia Tour of Couple</a>
                                        </h3>
                                        <span>$1600</span>
                                    </div>
                                    <ul class="list">
                                        <li><i class='bx bx-time'></i>5 Days</li>
                                        <li><i class='bx bx-group'></i>130+</li>
                                        <li>$1200</li>
                                    </ul>
                                </div>
                                <div class="discount">
                                    <span>Discount</span>
                                    <span>29%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 m-auto">
                            <div class="item-single mb-30">
                                <div class="image">
                                    <img src="assets/img/offer3.jpg" alt="Demo Image">
                                </div>
                                <div class="content">
                                    <div class="review">
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <span>35 Review</span>
                                    </div>
                                    <div class="title">
                                        <h3>
                                            <a href="tours.html">Campfire In Australia</a>
                                        </h3>
                                        <span>$2600</span>
                                    </div>
                                    <ul class="list">
                                        <li><i class='bx bx-time'></i>3 Days</li>
                                        <li><i class='bx bx-group'></i>91+</li>
                                        <li>$2200</li>
                                    </ul>
                                </div>
                                <div class="discount">
                                    <span>Discount</span>
                                    <span>16%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section id="testimonial" class="testimonial-section ptb-100">
                <div class="container">
                    <div class="section-title">
                        <h2>What're Our Clients Say</h2>
                        <p>Travel has helped us to understand the meaning of life and it has helped us become better people. Each time we travel, we see the world with new eyes.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 m-auto">
                            <div class="testimonial-slider owl-carousel">
                                <div class="slider-item">
                                    <div class="client-img">
                                        <img src="assets/img/client1.jpg" alt="client-1" />
                                    </div>
                                    <div class="content">
                                        <div class="client-info">
                                            <h3>Jordan Alin</h3>
                                            <span>Bloger & Youtuber</span>
                                        </div>
                                        <div class="quote">
                                            <i class='bx bxs-quote-left'></i>
                                        </div>
                                        <p>
                                            The Personal Travel Agents Academy is a 12-month training programme allowing anyone with no previous travel experience to start their own travel business. This is an advanced course to help build knowledge in travel and develop sales skills.
                                        </p>
                                        <div class="review">
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-item">
                                    <div class="client-img">
                                        <img src="assets/img/client2.jpg" alt="client-1" />
                                    </div>
                                    <div class="content">
                                        <div class="client-info mb-30">
                                            <h3>David Milan</h3>
                                            <span>Photographer</span>
                                        </div>
                                        <div class="quote">
                                            <i class='bx bxs-quote-left'></i>
                                        </div>
                                        <p>
                                            The Personal Travel Agents Academy is a 12-month training programme allowing anyone with no previous travel experience to start their own travel business. This is an advanced course to help build knowledge in travel and develop sales skills.
                                        </p>
                                        <div class="review mt-15">
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-item">
                                    <div class="client-img">
                                        <img src="assets/img/client3.jpg" alt="client-1" />
                                    </div>
                                    <div class="content">
                                        <div class="client-info mb-30">
                                            <h3>Thomas Alva</h3>
                                            <span>Journalist</span>
                                        </div>
                                        <div class="quote">
                                            <i class='bx bxs-quote-left'></i>
                                        </div>
                                        <p>
                                            The Personal Travel Agents Academy is a 12-month training programme allowing anyone with no previous travel experience to start their own travel business. This is an advanced course to help build knowledge in travel and develop sales skills.
                                        </p>
                                        <div class="review mt-15">
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-item">
                                    <div class="client-img">
                                        <img src="assets/img/client4.jpg" alt="client-1" />
                                    </div>
                                    <div class="content">
                                        <div class="client-info mb-30">
                                            <h3>Emma Watson</h3>
                                            <span>Actress & Model</span>
                                        </div>
                                        <div class="quote">
                                            <i class='bx bxs-quote-left'></i>
                                        </div>
                                        <p>
                                            The Personal Travel Agents Academy is a 12-month training programme allowing anyone with no previous travel experience to start their own travel business. This is an advanced course to help build knowledge in travel and develop sales skills.
                                        </p>
                                        <div class="review mt-15">
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-item">
                                    <div class="client-img">
                                        <img src="assets/img/client5.jpg" alt="client-1" />
                                    </div>
                                    <div class="content">
                                        <div class="client-info mb-30">
                                            <h3>Jordan Alin</h3>
                                            <span>Bloger & Youtuber</span>
                                        </div>
                                        <div class="quote">
                                            <i class='bx bxs-quote-left'></i>
                                        </div>
                                        <p>
                                            The Personal Travel Agents Academy is a 12-month training programme allowing anyone with no previous travel experience to start their own travel business. This is an advanced course to help build knowledge in travel and develop sales skills.
                                        </p>
                                        <div class="review mt-15">
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='clients-img'>
                        <img class="image image-1" src="assets/img/client1.jpg" alt="Demo Image">
                        <img class="image image-2" src="assets/img/client2.jpg" alt="Demo Image">
                        <img class="image image-3" src="assets/img/client3.jpg" alt="Demo Image">
                        <img class="image image-4" src="assets/img/client4.jpg" alt="Demo Image">
                        <img class="image image-5" src="assets/img/client5.jpg" alt="Demo Image">
                    </div>
                </div>
                <div class="shape">
                    <img src="assets/img/shape1.png" alt="Background Shape">
                </div>
            </section>


            <div id="video" class="video-section video-style-two">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="video-content">
                                <a href="https://www.youtube.com/watch?v=QSwvg9Rv2EI" class="youtube-popup video-btn">
                                    <i class='bx bx-right-arrow'></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <section id="tours" class="tours-section pt-100 pb-70 bg-light">
                <div class="container">
                    <div class="section-title">
                        <h2>Recent Tours</h2>
                        <p>Travel has helped us to understand the meaning of life and it has helped us become better people. Each time we travel, we see the world with new eyes.</p>
                    </div>
                    <div class="row no-wrap">
                        <div class="col-auto">
                            <div class="item-single mb-30">
                                <div class="image">
                                    <img src="assets/img/tour/tour1.jpg" alt="Demo Image" />
                                </div>
                                <div class="content">
                                    <span class="location"><i class='bx bx-map'></i>Oia, Greece</span>
                                    <h3>
                                        <a href="tours.html">Greek Cottage Greece</a>
                                    </h3>
                                    <div class="review mb-15">
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <span>25 Review</span>
                                    </div>
                                    <p>
                                        A wonderful little cottage right on the seashore - perfect for exploring with the little boat which is included in the price. Located opposite Nidri sleeping.
                                    </p>
                                    <hr>
                                    <ul class="list">
                                        <li><i class='bx bx-time'></i>3 Days</li>
                                        <li><i class='bx bx-group'></i>160+</li>
                                        <li>$1500</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-12">
                            <div class="tours-slider owl-carousel mb-30">
                                <div class="slider-item">
                                    <div class="image">
                                        <img src="assets/img/tour/tour2.jpg" alt="Demo Image" />
                                    </div>
                                    <div class="content">
                                        <div class="review">
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <span>39 Review</span>
                                        </div>
                                        <div class="title">
                                            <h3>
                                                <a href="tours.html">Piazza Castello</a>
                                            </h3>
                                        </div>
                                        <ul class="list">
                                            <li><i class='bx bx-time'></i>7 Days</li>
                                            <li><i class='bx bx-group'></i>60+</li>
                                            <li>$2100</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="slider-item">
                                    <div class="image">
                                        <img src="assets/img/tour/tour3.jpg" alt="Demo Image" />
                                    </div>
                                    <div class="content">
                                        <div class="review">
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <span>69 Review</span>
                                        </div>
                                        <div class="title">
                                            <h3>
                                                <a href="tours.html">Santorini, Greece</a>
                                            </h3>
                                        </div>
                                        <ul class="list">
                                            <li><i class='bx bx-time'></i>5 Days</li>
                                            <li><i class='bx bx-group'></i>60+</li>
                                            <li>$1500</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="slider-item">
                                    <div class="image">
                                        <img src="assets/img/tour/tour4.jpg" alt="Demo Image" />
                                    </div>
                                    <div class="content">
                                        <div class="review">
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <span>39 Review</span>
                                        </div>
                                        <div class="title">
                                            <h3>
                                                <a href="tours.html">Metropolitan City</a>
                                            </h3>
                                        </div>
                                        <ul class="list">
                                            <li><i class='bx bx-time'></i>7 Days</li>
                                            <li><i class='bx bx-group'></i>60+</li>
                                            <li>$2300</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="slider-item">
                                    <div class="image">
                                        <img src="assets/img/tour/tour5.jpg" alt="Demo Image" />
                                    </div>
                                    <div class="content">
                                        <div class="review">
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <span>51 Review</span>
                                        </div>
                                        <div class="title">
                                            <h3>
                                                <a href="tours.html">Great Natural Park</a>
                                            </h3>
                                        </div>
                                        <ul class="list">
                                            <li><i class='bx bx-time'></i>3 Days</li>
                                            <li><i class='bx bx-group'></i>60+</li>
                                            <li>$1200</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section id="blog" class="blog-section pt-100 pb-70">
                <div class="container">
                    <div class="section-title">
                        <h2>Latest News & Blog</h2>
                        <p>Travel has helped us to understand the meaning of life and it has helped us become better people. Each time we travel, we see the world with new eyes.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="item-single item-big mb-30">
                                <div class="image">
                                    <img src="assets/img/blog/blog-lg1.jpg" alt="Demo Image" />
                                </div>
                                <div class="content">
                                    <ul class="info-list">
                                        <li><i class='bx bx-calendar'></i> October 5, 2020</li>
                                        <li><i class='bx bx-tag'></i>Tour, Tourism, Travel</li>
                                    </ul>
                                    <h3>
                                        <a href="blog-details.html">The real voyage does not consist in seeking new landscapes, but in having new eyes.</a>
                                    </h3>
                                    <p>
                                        I have personally participated in many of the programs mentioned on this site. One of the programs is Save Our I have personally in many of the programs mentioned on this site.
                                    </p>
                                    <ul class="list">
                                        <li>
                                            <div class="author">
                                                <img src="assets/img/blog/author1.jpg" alt="Demo Image">
                                                <span>By - Envy Jeqlin</span>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="blog.html" class="btn-primary">Read More</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="item-single mb-30">
                                        <div class="image">
                                            <img src="assets/img/blog/blog1.jpg" alt="Demo Image" />
                                        </div>
                                        <div class="content">
                                            <ul class="info-list">
                                                <li><i class='bx bx-calendar'></i> Oct 10, 2020</li>
                                                <li><i class='bx bx-tag'></i>Tour</li>
                                            </ul>
                                            <h3>
                                                <a href="blog-details.html">Take only memories, leave only footprints.</a>
                                            </h3>
                                            <ul class="list">
                                                <li>
                                                    <div class="author">
                                                        <img src="assets/img/blog/author2.jpg" alt="Demo Image">
                                                        <span>By - David Stiffen</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="item-single mb-30">
                                        <div class="image">
                                            <img src="assets/img/blog/blog2.jpg" alt="Demo Image" />
                                        </div>
                                        <div class="content">
                                            <ul class="info-list">
                                                <li><i class='bx bx-calendar'></i> Nov 10, 2020</li>
                                                <li><i class='bx bx-tag'></i>Travel</li>
                                            </ul>
                                            <h3>
                                                <a href="blog-details.html">Life is either a daring adventure.</a>
                                            </h3>
                                            <ul class="list">
                                                <li>
                                                    <div class="author">
                                                        <img src="assets/img/blog/author3.jpg" alt="Demo Image">
                                                        <span>By - David Milan</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="item-single mb-30">
                                        <div class="image">
                                            <img src="assets/img/blog/blog3.jpg" alt="Demo Image" />
                                        </div>
                                        <div class="content">
                                            <ul class="info-list">
                                                <li><i class='bx bx-calendar'></i> Oct 5, 2020</li>
                                                <li><i class='bx bx-tag'></i>Travel</li>
                                            </ul>
                                            <h3>
                                                <a href="blog-details.html">Not all those who wander are lost.</a>
                                            </h3>
                                            <ul class="list">
                                                <li>
                                                    <div class="author">
                                                        <img src="assets/img/blog/author4.jpg" alt="Demo Image">
                                                        <span>By - Christina</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="item-single mb-30">
                                        <div class="image">
                                            <img src="assets/img/blog/blog4.jpg" alt="Demo Image" />
                                        </div>
                                        <div class="content">
                                            <ul class="info-list">
                                                <li><i class='bx bx-calendar'></i> Nov 9, 2020</li>
                                                <li><i class='bx bx-tag'></i>Tour</li>
                                            </ul>
                                            <h3>
                                                <a href="blog-details.html">Mountains is always right destination.</a>
                                            </h3>
                                            <ul class="list">
                                                <li>
                                                    <div class="author">
                                                        <img src="assets/img/blog/author5.jpg" alt="Demo Image">
                                                        <span>By - Emma Watson</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <footer class="footer-area">
                <div class="container">
                    <div class="footer-top pt-100 pb-70">
                        <div class="row">
                            <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                                <div class="footer-widget">
                                    <div class="navbar-brand">
                                        <a href="index.html">
                                            <img src="assets/img/logo2.png" alt="Logo" />
                                        </a>
                                    </div>
                                    <p>You can dream, create, design, and build the most wonderful place.</p>
                                    <div class="contact-info">
                                        <div class="content">
                                            <a href="tel:+0123456987"><i class='bx bx-phone'></i>+0123 456 987</a>
                                        </div>
                                        <div class="content">
                                            <a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#93fbf6fffffcd3f9f2e6fde7bdf0fcfe"><i class='bx bx-envelope'></i><span class="__cf_email__" data-cfemail="d0b8b5bcbcbf90bab1a5bea4feb3bfbd">[email&#160;protected]</span></a>
                                        </div>
                                        <div class="content">
                                            <a href="#"><i class='bx bx-map'></i>Mon-Fri: 8 AM – 7 PM</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                                <div class="footer-widget">
                                    <h5>Latest News</h5>
                                    <ul class="footer-news">
                                        <li class="content">
                                            <a href="blog-details.html">Surrounded by the peaceful waters of Lake Victoria.</a>
                                            <span>October 05, 2020</span>
                                            <hr>
                                        </li>
                                        <li class="content">
                                            <a href="blog-details.html">Morning came very early today. The alarm went off at 4 am</a>
                                            <span>October 05, 2020</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-5 col-sm-6 col-12">
                                <div class="footer-widget">
                                    <h5>Quick Links</h5>
                                    <ul class="footer-links">
                                        <li>
                                            <a href="about-us.html">About Us</a>
                                        </li>
                                        <li>
                                            <a href="destinations.html">Destinations</a>
                                        </li>
                                        <li>
                                            <a href="blog-style-1.html">Latest Blog</a>
                                        </li>
                                        <li>
                                            <a href="team.html">Our Team</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Contact Us</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-6 col-12">
                                <div class="footer-widget">
                                    <h5>Instagram Post</h5>
                                    <ul class="instagram-post">
                                        <li>
                                            <img src="assets/img/instagram1.jpg" alt="Demo Image">
                                            <i class='bx bxl-instagram'></i>
                                        </li>
                                        <li>
                                            <img src="assets/img/instagram2.jpg" alt="Demo Image">
                                            <i class='bx bxl-instagram'></i>
                                        </li>
                                        <li>
                                            <img src="assets/img/instagram3.jpg" alt="Demo Image">
                                            <i class='bx bxl-instagram'></i>
                                        </li>
                                        <li>
                                            <img src="assets/img/instagram4.jpg" alt="Demo Image">
                                            <i class='bx bxl-instagram'></i>
                                        </li>
                                        <li>
                                            <img src="assets/img/instagram5.jpg" alt="Demo Image">
                                            <i class='bx bxl-instagram'></i>
                                        </li>
                                        <li>
                                            <img src="assets/img/instagram6.jpg" alt="Demo Image">
                                            <i class='bx bxl-instagram'></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="copy-right-area">
                        <div class="container">
                            <div class="copy-right-content">
                                <p>
                                    Copyright @2020 Jaunt. Designed By
                                    <a href="https://hibootstrap.com/" target="_blank">
                                        HiBootstrap.com
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>



        {% block js %}
            <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>


            <script src="{{  asset('js/jquery.min.js')}}"></script>

            <script src="{{  asset('js/popper.min.js')}}"></script>

            <script src="{{  asset('js/bootstrap.min.js')}}"></script>

            <script src="{{  asset('js/bootstrap-datepicker.min.js')}}"></script>

            <script src="{{  asset('js/jquery.nice-select.min.js')}}"></script>

            <script src="{{  asset('js/jquery.magnific-popup.min.js')}}"></script>

            <script src="{{  asset('js/jquery.filterizr.min.js')}}"></script>

            <script src="{{  asset('js/owl.carousel.min.js')}}"></script>

            <script src="{{  asset('js/meanmenu.min.js')}}"></script>

            <script src="{{  asset('js/form-validator.min.js')}}"></script>

            <script src="{{  asset('js/contact-form-script.js')}}"></script>

            <script src="{{  asset('js/jquery.ajaxchimp.min.js')}}"></script>

            <script src="{{  asset('js/script.js')}}"></script>

        {% endblock %}
    </body>
</html>
