{% extends 'baseReclamation.html.twig' %}

{% block categorieActive %} class="active" {% endblock %}

{% block content %}
    <div class="product-sales-area mg-tb-30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="sparkline8-list">
                        <div class="sparkline8-hd">
                            <div class="main-sparkline8-hd">
                                <h1>List Reclamation</h1>
                                <input id="search" type="text" placeholder="Search">
                                <button id="sort" style="border: none;color: #fff;padding: 5px 15px;font-size: 15px;background: #0070a5;border-radius: 3px;outline:none;">Tri</button>
                            </div>
                        </div>
                        <div class="sparkline8-graph">
                            <div class="static-table-list">
                                <div id="table">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nom</th>
                                            <th>Type</th>
                                            <th>Description</th>
                                            <th>Modifer</th>
                                            <th>Supprimer</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for c in categorie %}
                                            <tr>
                                                <td>{{ c.idCategorie }}</td>
                                                <td>{{ c.nom }}</td>
                                                <td>{{ c.type }}</td>
                                                <td>{{ c.description }}</td>
                                                <td><a href="{{ path('modifierCategorie', {'id': c.idCategorie}) }}"><button style="border: none;color: #fff;padding: 5px 15px;font-size: 15px;background: #933EC5;border-radius: 3px;outline:none;" class="ps-setting">Modifier</button></a></td>
                                                <td><a href="{{ path('supprimerCategorie', {'id': c.idCategorie}) }}"><button style="border: none;color: #fff;padding: 5px 15px;font-size: 15px;background: #D80027;border-radius: 3px;outline:none;" class="ds-setting">Supprimer</button></a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script >
        $(function() {
            $("#search").keyup(function () {
                $.ajax({
                    url : "{{ path('searchCategorie') }}",
                    type: "get",
                    data : { 'search' : $(this).val() }
                }).done(function (response) {
                    var tableau = $(response).find("table");
                    $('#table').empty();
                    $('#table').append(tableau);
                })
            });

            $( "#sort" ).click(function() {
                $.ajax({
                    url : "{{ path('triCategorie') }}",
                    type: "get"
                }).done(function (response) {
                    var tableau = $(response).find("table");
                    $('#table').empty();
                    $('#table').append(tableau);
                })
            });
        })
    </script>
{% endblock %}
